* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ADD8E6;
    font-family: 'Nerko One', cursive;
}

header {
    text-align: center;
    font-size: 50px;
    color: white;
}

.container {
    width: 50%;
    margin: auto;
  }

main {
    height: 1000px;
}

main::after {
	content: "" ;
	display: table;
	clear: both;
}

.row {
    height: 250px;
    margin-bottom: 2%;
}

/*
1: background della card non visualizzato
2. visualizzi img
3. visualizzi p

*/

.card {
    position: relative;
    height: 250px;
    width: 22%;
    margin: 1%;
    float: left;
    border-radius: 10px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: contain;
}
.card img {
    width: 100%;
    visibility: hidden;
}
.card p {
    display: none;
    position: absolute;
    bottom: 3%;
    left: 17%;
    font-size: 35px;
    color: #E61986
}
.card:hover {
    color:lightcoral;

}

